/*
Paul Karcher
paulk460@gmail.com
Dec 10, 2014
Page created as student work for 91.461 GUI Programming I at UMass Lowell
Description:
*/
/* 
    Created on : Dec 10, 2014, 10:39:50 PM
    Author     : otis
*/

#searchBar {

}
#options {

}

.dynamic-table tr:nth-child(1) {
    background: lightblue;
    font-weight: bold;
}

.category:hover {
    background: yellow;
    font-weight: bold;
}