/*
 * Paul Karcher
 * paulk460@gmail.com
 * Dec 10, 2014
 * Page created as student work for 91.461 GUI Programming I at UMass Lowell
 * Description: used to style the angular assignment 9 application
*/

#banner {
  text-align: center;
}

/* placeholder] */
#searchBar {

}
/* placeholder] */
#options {

}

th {
  background: lightblue;
  font-weight: bold;
}

.category:hover {
  background: yellow;
  text-decoration: underline;
}

.static-category {
  background: blue;
}

/* table will fill the page's width automatically' */
.dynamic-table {
  width: 100%;
}

/* make every other table row appear in a very light gray */
tr:nth-child(odd) {
  background: #f2f2f2;   
}
