/*
Paul Karcher
paulk460@gmail.com
Dec 10, 2014
Page created as student work for 91.461 GUI Programming I at UMass Lowell
Description: used to style the angular assignment 9 application
*/

/* placeholder] */
#searchBar {

}
/* placeholder] */
#options {

}

th {
    background: lightblue;
    font-weight: bold;
}

.category:hover {
    background: yellow;
    font-weight: bold;
}

.static-category {
  background: blue;
}

/* table will fill the page's width automatically' */
.dynamic-table {
  width: 100%;
}
