/*
Paul Karcher
paulk460@gmail.com
Nov 27, 2014
Page created as student work for 91.461 GUI Programming I at UMass Lowell
Description:
*/
/* 
    Created on : Nov 27, 2014, 1:22:16 AM
    Author     : otis
*/

#tabs {
  margin-top: 10px;
}

#tabs-header
{
  text-align: center;
}


/* Taken from Javascript and JQuery the Missing Manual chapter 9 complete_validation.html */
#mult-form label.error {
  font-size: 0.8em;
  color: #F00;
  font-weight: bold;
  display: block;
  margin-left: 215px;
}
#mult-form  input.error, #mult-form select.error  {
  background: #FFA9B8;
  border: 1px solid red;
}