<!-- 
Paul Karcher
paulk460@gmail.com
Dec 10, 2014
Page created as student work for 91.461 GUI Programming I at UMass Lowell
Description: Angular app used to display bookmarked tracks froma a last.fm account

Code is heavily based on example #31 from Curran Kelleher's screencast introToAngular
http://curran.github.io/screencasts/introToAngular/exampleViewer/#/31
Format and structure adapted from Professor Heines' starter code
https://teaching.cs.uml.edu/~heines/91.461/91.461-2014-15f/461-assn/code/Assn09-Starter/jmh-assn09-v4.html
-->
<html ng-app="libraryApp">
    <head>
        <meta charset="utf-8">
        <title>Assignment 9</title>
        <link rel="shortcut icon" href="../../favicon.ico">
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>

        <script>
            var myApp = angular.module('libraryApp', []);
            myApp.controller('libraryCtrl', function ($scope, $http) {
              //adapted with different variable names from starter code
              $scope.library = {};              // initialize an object in the model's scope
              $http.get('loved.json')                // perform the Ajax call
                      .success(function (data) {      // execute this function if the Ajax succeeds
                        $scope.library = data;   // set the model's jsonData.data property to the
                      })                               //    data returned by the Ajax call
                      .error(function (error) {      // execute this function if the Ajax fails
                        $scope.library.error = error; // set the model's jsonData.error property to the
                      });                             //    error returned by the Ajax call

              //sorted by artist by default
              $scope.sortField = 'track.artist.name';
            });
        </script>
        <link href="../../css/main.css" rel="stylesheet" type="text/css"/>
        <link href="../../css/ang-project.css" rel="stylesheet" type="text/css"/>
        
        <!-- used for increment and substring operations -->
        <script src="../../javascript/jmh-assn09-filters.js" type="text/javascript"></script>
    </head>
    <body ng-controller="libraryCtrl">
        <h1 id="banner">Bookmarked songs from last.fm account</h1>
        <!-- create a search bar to allow for search of all dynamic categories -->
        <div id="searchBar">
            Search:<input ng-model="query" type="text"/>
        </div>
        <!-- create a checkbox that when checked displays the full date format included in the json as opposed to the shortened default -->
        <div id="options">
            Display detailed date information:<input type="checkbox" ng-model="detailedDate">
        </div>
        <table class="dynamic-table">
            <tr>
                <!-- create a static category that cannot be interacted with and is there just for aesthetics --> 
                <th class="static-category">#</th>
                <!-- create sortable categories for the user to interact with based on data their respective data -->
                <th class="category" ng-click="sortField = 'track.artist.name';
                        reverse = !reverse">Artist</th>
                <th class="category" ng-click="sortField = 'track.name';
                        reverse = !reverse">Song</th>
                <th class="category" ng-click="sortField = 'track.name';
                        reverse = !reverse">Date bookmarked</th>
            </tr>
            <tr ng-repeat="song in library| filter:query | orderBy:sortField:reverse">
                <!-- create index numbers using the built-in $index variable -->
                <td>{{$index| increment}}</td>

                <!-- load and display the json data with their mbid tags pushed
                onto the root url in order to link them with their correct musicbrainz URL -->
                <td><a href="http://musicbrainz.org/artist/{{song.track.artist.mbid}}">{{song.track.artist.name}}</a></td>
                <td><a href="http://musicbrainz.org/recording/{{song.track.mbid}}">{{song.track.name}}</a></td>

                <!-- determine which is the correct date structure to load -->
                <td ng-if="!detailedDate">{{song.timestamp.iso.substring(0, 10)}}</td>
                <td ng-if="detailedDate">{{song.timestamp.iso}}</td>
            </tr>
        </table>
    </body>
</html>